In [40]:
import pandas as pd
import numpy as np
import scanpy as sc
import scipy as sp

In [41]:
import os


filepath_3_1 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/endo_time_3_dataset_1.h5ad'
filepath_3_2 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/endo_time_3_dataset_wolf.h5ad'
filepath_4_1 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/endo_time_4_dataset_1.h5ad'
filepath_4_2 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/endo_time_4_dataset_wolf.h5ad'

adata_3_1 = sc.read_h5ad(filepath_3_1)
adata_3_2 = sc.read_h5ad(filepath_3_2)
adata_4_1 = sc.read_h5ad(filepath_4_1)
adata_4_2 = sc.read_h5ad(filepath_4_2)

In [42]:
adata_3_1

AnnData object with n_obs × n_vars = 698 × 13762
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'stim', 'integrated_snn_res.0.1', 'seurat_clusters'
    var: 'name'
    obsm: 'X_pca', 'X_tsne', 'X_umap'

In [45]:
#dataset 1 tp3.5
d3_1_1 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp3.5/genes_embryo_3_0.csv') #marker gene
d3_1_2 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp3.5/genes_embryo_3_1.csv') #marker gene
d3_1_spapros = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp3.5/spapros_markers_dataset1_tp3.csv') #spapros gene


#dataset 1 tp4.5
d4_1_1 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp4.5/genes_embryo_4_0.csv') #marker gene
d4_1_2 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp4.5/genes_embryo_4_1.csv') #marker gene
d4_1_3 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp4.5/genes_embryo_4_2.csv') #marker gene
d4_1_spapros = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp4.5/spapros_markers_dataset1_tp4.csv') #spapros gene



#dataset 2 tp3.5
d3_2_1 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp3.5/genes_embryo_wolf_3_0.csv') #marker gene
d3_2_2 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp3.5/genes_embryo_wolf_3_1.csv') #marker gene
d3_2_spapros = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp3.5/spapros_markers_dataset2_tp3.csv') #spapros gene


#dataset 2 tp4.5
d4_2_1 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp4.5/genes_embryo_4_epi.csv') #marker gene
d4_2_3 = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp4.5/genes_embryo_4_pe.csv') #marker gene
d4_2_spapros = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp4.5/spapros_markers_dataset2_tp4.csv') #spapros gene


#corr genes
#d3_1_corr = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp3.5/corr_genes_embryo_3_1.csv') # lefty1 correlation data 1 tp 3
d3_2_corr = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp3.5/corr_genes_embryo_3_2 1.csv') # lefty1 correlation data 2 tp 3
#d4_1_corr = pd.read_csv('../PhD/PhD/Shankar_genes/dataset1_tp4.5/corr_genes_embryo_4_1.csv') # lefty1 correlation data 1 tp 4
#d4_2_corr = pd.read_csv('../PhD/PhD/Shankar_genes/dataset2_tp4.5/corr_genes_embryo_4_2.csv') # lefty1 correlation data 2 tp 4

# genes where there is a threshold put on lefty1 correlation
d3_1_corr = pd.read_csv('../PhD/PhD/Shankar_genes/lefty1_corr_threshold/corr_genes_embryo_3_1_high.csv') # lefty1 correlation data 1 tp 3
d4_1_corr = pd.read_csv('../PhD/PhD/Shankar_genes/lefty1_corr_threshold/corr_genes_embryo_4_1_final.csv') # lefty1 correlation data 1 tp 3
d4_2_corr = pd.read_csv('../PhD/PhD/Shankar_genes/lefty1_corr_threshold/corr_genes_embryo_4_2_high.csv') # lefty1 correlation data 1 tp 3



d3_1_ciara = pd.read_csv('../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/ciara_genes_embryo_3_1.csv')
d3_2_ciara = pd.read_csv('../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/ciara_genes_embryo_3_2.csv')
d4_1_ciara = pd.read_csv('../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/ciara_genes_embryo_4_1.csv')
d4_2_ciara = pd.read_csv('../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/ciara_genes_embryo_4_2.csv')


data1_tp3 = pd.concat([d3_1_1, d3_1_2]) # marker genes
data1_tp4 = pd.concat([d4_1_1, d4_1_2, d4_1_3])  # marker genes
data2_tp3 = pd.concat([d3_2_1, d3_2_2])  # marker genes
data2_tp4 = pd.concat([d4_2_1, d4_2_3])  # marker genes

In [46]:
print(f'shape of datapoint 4_2_1: {d4_2_1.shape}')
print(f'shape of datapoint 4_2_3: {d4_2_3.shape}')
print(f'shape of corr with lefty: {d4_2_corr.shape}')
print(f'shape of spapros:{d4_2_spapros.shape}')

shape of datapoint 4_2_1: (448, 2)
shape of datapoint 4_2_3: (497, 2)
shape of corr with lefty: (27, 4)
shape of spapros:(20, 1)

In [47]:
### creating/renaming the columns containing the gene names in such way that they are all unified --> e.g. for

# Function to standardize column names for gene lists
def standardize_gene_column(df):
    # For marker gene datasets (with 'x' column)
    if 'x' in df.columns:
        df = df.rename(columns={'x': 'Gene'})
        if 'Unnamed: 0' in df.columns:
            df = df.drop('Unnamed: 0', axis=1)
    
    # For correlation datasets (where genes are in 'Unnamed: 0')
    elif 'Unnamed: 0' in df.columns and 'corr_vector' in df.columns:
        df = df.rename(columns={'Unnamed: 0': 'Gene'})
    
    return df

# Apply to all datasets
# Dataset 1, tp3.5
data1_tp3 = standardize_gene_column(data1_tp3)
d3_1_spapros = standardize_gene_column(d3_1_spapros)
d3_1_corr = standardize_gene_column(d3_1_corr)
d3_1_ciara = standardize_gene_column(d3_1_ciara)


# Dataset 1, tp4.5
data1_tp4 = standardize_gene_column(data1_tp4)
d4_1_spapros = standardize_gene_column(d4_1_spapros)
d4_1_corr = standardize_gene_column(d4_1_corr)
d4_1_ciara = standardize_gene_column(d4_1_ciara)


# Dataset 2, tp3.5
data2_tp3 = standardize_gene_column(data2_tp3)
d3_2_spapros = standardize_gene_column(d3_2_spapros)
d3_2_corr = standardize_gene_column(d3_2_corr)
d3_2_ciara = standardize_gene_column(d3_2_ciara)

# Dataset 2, tp4.5
data2_tp4 = standardize_gene_column(data2_tp4)
d4_2_spapros = standardize_gene_column(d4_2_spapros)
d4_2_corr = standardize_gene_column(d4_2_corr)
d4_2_ciara = standardize_gene_column(d4_2_ciara)

# Verify the changes for one dataset from each type
print("Marker gene dataset columns:", data1_tp3.columns)
print("Spapros dataset columns:", d3_1_spapros.columns)
print("Correlation dataset columns:", d3_1_corr.columns)
print("Ciara dataset columns:", d3_1_ciara.columns)

Marker gene dataset columns: Index(['Gene'], dtype='object')
Spapros dataset columns: Index(['Gene'], dtype='object')
Correlation dataset columns: Index(['Gene', 'corr_vector', 'p_value_vector', 'fdr_value'], dtype='object')
Ciara dataset columns: Index(['Gene'], dtype='object')

In [48]:
# First add source labels as before
# Dataset 1, tp3.5
data1_tp3['source'] = 'marker'
d3_1_spapros['source'] = 'spapros'
d3_1_corr['source'] = 'lefty_corr'
d3_1_ciara['source'] = 'potential_markers'

# Dataset 1, tp4.5
data1_tp4['source'] = 'marker'
d4_1_spapros['source'] = 'spapros'
d4_1_corr['source'] = 'lefty_corr'
d4_1_ciara['source'] = 'potential_markers'


# Dataset 2, tp3.5
data2_tp3['source'] = 'marker'
d3_2_spapros['source'] = 'spapros'
d3_2_corr['source'] = 'lefty_corr'
d3_2_ciara['source'] = 'potential_markers'


# Dataset 2, tp4.5
data2_tp4['source'] = 'marker'
d4_2_spapros['source'] = 'spapros'
d4_2_corr['source'] = 'lefty_corr'
d4_2_ciara['source'] = 'potential_markers'



def create_gene_summary(datasets):
    # Initialize empty DataFrame with all genes
    all_genes = pd.concat([df['Gene'] for df in datasets]).unique()
    final_df = pd.DataFrame({'Gene': all_genes})
    
    # Initialize columns with False
    final_df['marker_gene'] = False
    final_df['spapros'] = False
    final_df['lefty1_correlation'] = False
    final_df['potential_markers'] = False
    
    # Fill in True values based on source
    for df in datasets:
        genes = df['Gene'].unique()
        if df['source'].iloc[0] == 'marker':
            final_df.loc[final_df['Gene'].isin(genes), 'marker_gene'] = True
        elif df['source'].iloc[0] == 'spapros':
            final_df.loc[final_df['Gene'].isin(genes), 'spapros'] = True
        elif df['source'].iloc[0] == 'lefty_corr':
            final_df.loc[final_df['Gene'].isin(genes), 'lefty1_correlation'] = True
        elif df['source'].iloc[0] == 'potential_markers':
            final_df.loc[final_df['Gene'].isin(genes), 'potential_markers'] = True

    
    # Add total count of Trues for sorting
    final_df['total_hits'] = final_df[['marker_gene', 'spapros', 'lefty1_correlation', 'potential_markers']].sum(axis=1)
    
    # Sort by total hits (descending) and then by gene name
    final_df = final_df.sort_values(['total_hits', 'Gene'], ascending=[False, True])
    
    # Drop the total_hits column as it was just for sorting
    final_df = final_df.drop('total_hits', axis=1)
    
    return final_df

# Create final datasets
final_data1_tp3 = create_gene_summary([data1_tp3, d3_1_spapros, d3_1_corr, d3_1_ciara])
final_data1_tp4 = create_gene_summary([data1_tp4, d4_1_spapros, d4_1_corr, d4_1_ciara])
final_data2_tp3 = create_gene_summary([data2_tp3, d3_2_spapros, d3_2_corr, d3_2_ciara])
final_data2_tp4 = create_gene_summary([data2_tp4, d4_2_spapros, d4_2_corr, d4_2_ciara])

# Example output
print("Dataset 1, tp3.5 sample (sorted by number of hits):")
print(final_data1_tp3.head(10))
print('shape of dataset 1 tp3.5:', final_data1_tp3.shape)

final_data2_tp4.to_csv('dataset2_tp4.5_genes_threshold.csv', index=False) # Save to CSV if needed
final_data1_tp3.to_csv('dataset1_tp3.5_genes_threshold.csv', index=False)
final_data1_tp4.to_csv('dataset1_tp4.5_genes_threshold.csv', index=False)
final_data2_tp3.to_csv('dataset2_tp3.5_genes_nothreshold.csv', index=False)

Dataset 1, tp3.5 sample (sorted by number of hits):
        Gene  marker_gene  spapros  lefty1_correlation  potential_markers
309  AKR1C13         True    False               False               True
104     AQP8         True     True               False              False
23      BHMT         True     True               False              False
34      BMP4         True     True               False              False
143   COL4A2         True    False               False               True
111     CTSL         True     True               False              False
110    DUSP9         True    False               False               True
140     ENO4         True    False                True              False
282    EPHA2         True    False                True              False
297   FAM25C         True     True               False              False
shape of dataset 1 tp3.5: (411, 5)

In [49]:
top_genes_tp4_d2 = final_data2_tp4[:10]  # Select top 10 genes from final_data2_tp4
top_genes_tp4_d2.to_csv('dataset2_tp4_top10_high.csv', index=False)# Save to CSV if needed
top_genes_tp3_d2 = final_data2_tp3[:10]  # Select top 10 genes from final_data2_tp3
top_genes_tp3_d2.to_csv('dataset2_tp3_top10_noigh.csv', index=False)# Save to CSV if needed
top_genes_tp4_d1 = final_data1_tp4[:10]  # Select top 10 genes from final_data1_tp4
top_genes_tp4_d1.to_csv('dataset1_tp4_top10_high.csv', index=False)# Save to CSV if needed
top_genes_tp3_d1 = final_data1_tp3[:10]  # Select top 10 genes from final_data1_tp3
top_genes_tp3_d1.to_csv('dataset1_tp3_top10_high.csv', index=False)# Save to CSV if needed

# Print the top genes for each dataset
print("Top 10 genes from final_data2_tp4:", top_genes_tp4['Gene'])
print('---------------------------------------------------------------------')
print("Top 10 genes from final_data2_tp3:", top_genes_tp3['Gene'])
print('---------------------------------------------------------------------')
print("Top 10 genes from final_data1_tp4:", top_genes_tp4_data1['Gene'])
print('---------------------------------------------------------------------')
print("Top 10 genes from final_data1_tp3:", top_genes_tp3_data1['Gene'])
print('---------------------------------------------------------------------')

NameError: name 'top_genes_tp4' is not defined

In [74]:
# First, let's check what columns we actually have in each dataset
print("dataset1_tp3 columns:", data1_tp3.columns)
print("dataset1_tp4 columns:", data1_tp4.columns)
print("dataset2_tp3 columns:", data2_tp3.columns)
print("dataset2_tp4 columns:", data2_tp4.columns)
print('shape of dataset 1 tp3.5:', data1_tp3.shape)
print('shape of dataset 1 tp4.5:', data1_tp4.shape)
print('shape of dataset 2 tp3.5:', data2_tp3.shape)
print('shape of dataset 2 tp4.5:', data2_tp4.shape)

dataset1_tp3 columns: Index(['Gene', 'source'], dtype='object')
dataset1_tp4 columns: Index(['Gene', 'source'], dtype='object')
dataset2_tp3 columns: Index(['Gene', 'source'], dtype='object')
dataset2_tp4 columns: Index(['Gene', 'source'], dtype='object')
shape of dataset 1 tp3.5: (326, 2)
shape of dataset 1 tp4.5: (742, 2)
shape of dataset 2 tp3.5: (121, 2)
shape of dataset 2 tp4.5: (945, 2)

In [50]:
known_genes = pd.read_excel('../PhD/PhD/Shankar_genes/Genes_25_11/known_tissue_marker_gene_lists.xlsx')

In [51]:
df_known_genes = pd.DataFrame(known_genes)

In [52]:
known_genes

,Cell Types,TE,ICM,pTE,mTE,EPI,PrE,ParE,VE,ExE,emVE,exVE,AVE
0,NaN,Cdx2,Sox2,Cdx2,Hand1,Oct4,PdgfrA,Gata6,FoxA2,Cdx2,Sfrp5,Aplp1,Cer1
1,NaN,Gata3,Nanog,Ovol1,Ascl2,Nanog,Sox17,Sox17,Ttr,Hand1,Gpc4,Egr1,Lefty1
2,NaN,Gata2,Oct4,Gata3,Plac1,Fgf4,Gata4,Lama1,Lhx1,Gata3,Afp,Fabp3,Hhex
3,NaN,Eomes,Sall4,Eomes,Phlda2,Tdgf1,Fgfr2,Sall4,Afp,Elf5,Foxq1,Apln,Efna5
4,NaN,Tfap2c,Klf4,Muc15,Prl3d1,Slc7a3,Gata6,Myc,Cited1,Cldn4,Lhx1,Apa2,Krt19
5,NaN,Elf5,Stat3,Dlx5,NaN,Sox11,Sox7,Lamb1,Hnf1b,S100a6,Fgf5,Msx1,Gsc
6,NaN,Id2,NaN,Ccr7,NaN,Esrrb,Grb2,Sparc,Dab2,NaN,Shisa2,S100a13,Ak31c13
7,NaN,Tead4,NaN,Fgfr2,NaN,Terf1,Hnf4a,NaN,Ihh,NaN,Basp1,B3galnt1,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,Lrp2,NaN,NaN,NaN,Col23a1,NaN,NaN

In [133]:

# Creating an empty dictionary for lookup
gene_celltype_lookup = {}

# Loop through each cell type column in `known_genes`
for cell_type in known_genes.columns[1:]:  # skip 'Cell Types' column
    genes_in_cell_type = known_genes[cell_type].dropna().tolist()
    for gene in genes_in_cell_type:
        gene_celltype_lookup[gene.upper()] = cell_type  # map gene to cell type

# Step 2: Define a function to find cell type for each gene
def add_known_gene_of_celltype_column(dataset, gene_celltype_lookup):
    # Initialize an empty list to store the cell types for each gene
    celltype_annotations = []
    # Iterate over each gene in the dataset
    for gene in dataset['Gene']:
        # Look up the gene in the dictionary, default to None if not found
        celltype = gene_celltype_lookup.get(gene.upper(), None)
        celltype_annotations.append(celltype)
    # Add a new column to the dataset
    dataset['known_gene_of_celltype'] = celltype_annotations
    return dataset

# Step 3: Apply the function to each of the four datasets
# Assuming each dataset has a 'gene' column listing the genes
# Replace `dataset1_tp3.5`, `dataset1_tp4.5`, etc., with your actual dataset variables
dataset1_tp3_genes = add_known_gene_of_celltype_column(final_data1_tp3, gene_celltype_lookup)
dataset1_tp4_genes = add_known_gene_of_celltype_column(final_data1_tp4, gene_celltype_lookup)
dataset2_tp3_genes = add_known_gene_of_celltype_column(final_data2_tp3, gene_celltype_lookup)
dataset2_tp4_genes = add_known_gene_of_celltype_column(final_data2_tp4, gene_celltype_lookup)

# Now each dataset will have a 'known_gene_of_celltype' column with matched cell types

In [139]:

dataset1_tp3_genes.to_csv('dataset1_tp3.5_genes.csv', index=False)# Save to CSV if needed
dataset1_tp4_genes.to_csv('dataset1_tp4.5_genes.csv', index=False)
dataset2_tp3_genes.to_csv('dataset2_tp3.5_genes.csv', index=False)
dataset2_tp4_genes.to_csv('dataset2_tp4.5_genes.csv', index=False)

In [218]:
known_genes

,Cell Types,TE,ICM,pTE,mTE,EPI,PrE,ParE,VE,ExE,emVE,exVE,AVE
0,None,Cdx2,Sox2,Cdx2,Hand1,Oct4,PdgfrA,Gata6,FoxA2,Cdx2,Sfrp5,Aplp1,Cer1
1,None,Gata3,Nanog,Ovol1,Ascl2,Nanog,Sox17,Sox17,Ttr,Hand1,Gpc4,Egr1,Lefty1
2,None,Gata2,Oct4,Gata3,Plac1,Fgf4,Gata4,Lama1,Lhx1,Gata3,Afp,Fabp3,Hhex
3,None,Eomes,Sall4,Eomes,Phlda2,Tdgf1,Fgfr2,Sall4,Afp,Elf5,Foxq1,Apln,Efna5
4,None,Tfap2c,Klf4,Muc15,Prl3d1,Slc7a3,Gata6,Myc,Cited1,Cldn4,Lhx1,Apa2,Krt19
5,None,Elf5,Stat3,Dlx5,None,Sox11,Sox7,Lamb1,Hnf1b,S100a6,Fgf5,Msx1,Gsc
6,None,Id2,None,Ccr7,None,Esrrb,Grb2,Sparc,Dab2,None,Shisa2,S100a13,Ak31c13
7,None,Tead4,None,Fgfr2,None,Terf1,Hnf4a,None,None,Basp1,B3galnt1,None,None
8,None,None,None,None,None,None,None,Ihh,None,Col23a1,None,None,None

In [158]:
filepath_3_1 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/endo_time_3_dataset_1.h5ad'
filepath_3_2 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_3/endo_time_3_dataset_wolf.h5ad'
filepath_4_1 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/endo_time_4_dataset_1.h5ad'
filepath_4_2 = '../PhD/PhD/Shankar_genes/SPAPROS_11.24/time_4/endo_time_4_dataset_wolf.h5ad'

data_3_1 = sc.read_h5ad(filepath_3_1)
data_3_2 = sc.read_h5ad(filepath_3_2)
data_4_1 = sc.read_h5ad(filepath_4_1)
data_4_2 = sc.read_h5ad(filepath_4_2)

In [216]:
known_genes

,Cell Types,TE,ICM,pTE,mTE,EPI,PrE,ParE,VE,ExE,emVE,exVE,AVE
0,None,Cdx2,Sox2,Cdx2,Hand1,Oct4,PdgfrA,Gata6,FoxA2,Cdx2,Sfrp5,Aplp1,Cer1
1,None,Gata3,Nanog,Ovol1,Ascl2,Nanog,Sox17,Sox17,Ttr,Hand1,Gpc4,Egr1,Lefty1
2,None,Gata2,Oct4,Gata3,Plac1,Fgf4,Gata4,Lama1,Lhx1,Gata3,Afp,Fabp3,Hhex
3,None,Eomes,Sall4,Eomes,Phlda2,Tdgf1,Fgfr2,Sall4,Afp,Elf5,Foxq1,Apln,Efna5
4,None,Tfap2c,Klf4,Muc15,Prl3d1,Slc7a3,Gata6,Myc,Cited1,Cldn4,Lhx1,Apa2,Krt19
5,None,Elf5,Stat3,Dlx5,None,Sox11,Sox7,Lamb1,Hnf1b,S100a6,Fgf5,Msx1,Gsc
6,None,Id2,None,Ccr7,None,Esrrb,Grb2,Sparc,Dab2,None,Shisa2,S100a13,Ak31c13
7,None,Tead4,None,Fgfr2,None,Terf1,Hnf4a,None,None,Basp1,B3galnt1,None,None
8,None,None,None,None,None,None,None,Ihh,None,Col23a1,None,None,None